body {
  font-family: Kumbh Sans, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}

a {
  text-decoration: none;
  color: white;
  transition: 10ms;
}

a:hover {
  color: rgb(149, 44, 255);
}

header {
  position: fixed;
  width: 100%;
  height: 6vh;
  background-color: rgb(40, 39, 39);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 20px black;
}

header img {
  width: 4.5vh;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2vh;
}

header li {
  width: 9vh;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4.5vh;
  height: 2.4vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.8vh;
  width: 1.8vh;
  left: 0.3vh;
  bottom: 0.3vh;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(64, 64, 64);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(64, 64, 64);
}

input:checked + .slider:before {
  -webkit-transform: translateX(2vh);
  -ms-transform: translateX(2vh);
  transform: translateX(2vh);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

footer {
  height: 6vh;
  background-color: rgb(40, 39, 39);
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 6vh;
  padding-right: 6vh;
  align-items: center;
  box-shadow: 0px 0px 20px black;
}

footer img {
  width: 4.5vh;
}

main {
  color: white;
}

#home {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

#home-upper-detail {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

#home-down-detail {
  z-index: -1;
  position: absolute;
  bottom: 1.78vh;
  left: 0;
}

#home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-text {
  display: flex;
  flex-flow: column wrap;
}

#home-text p {
  font-size: 1.3rem;
}

#home-text h1 {
  font-size: 3rem;
}

#home-links {
  display: flex;
  width: 100%;
  font-size: 2.6rem;
  padding: 0 8vh 0 8vh;
  justify-content: space-around;
}

#home-button {
  width: 20vh;
  height: 5vh;
  font-size: 1.2rem;
}

#about {
  height: 90vh;
  width: 100%;
  display: flex;
}

#about {
  height: 90vh;
  width: 100%;
  background-color: rgb(40, 39, 39);
  box-shadow: 0px 0px 20px black;
}

#projects {
  height: 80vh;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
}

#projects h1 {
  font-size: 3rem;
}

#projects-filter {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2vh;
  font-size: 1.2rem;
}

#projects-filter button {
  background-color: transparent;
  border: transparent;
  border-radius: 4px;
  color: white;
  width: 12vh;
}

#projects-filter button:hover {
  background-color: rgb(149, 44, 255);
}
