main {
  height: 100vh;
  background-color: rgb(42, 42, 42);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

#login {
  display: none;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#register {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.row-options {
  display: flex;
  gap: 1vh;
  justify-content: center;
}

/* #year::-webkit-scrollbar-track{
  height: 10px;
} */

@media screen and (min-width: 840px) {
  #login, #register {
    width: 30%;
  }
}

@media screen and (min-width: 1280px) {
  #fullname-div {
    display: flex;
    gap: 1vh;
  }
}
